<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stores</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<div class="container">
  <div class="orders">
    <h2>Orders history</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Buy date</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ordersList">
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderDate  | date: 'dd/MM/yyyy' }}</td>
          <td>{{ order.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/1920/1080" alt="Imagen">
  </div>
</div>
