<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <div class="header__logo">
              <img src="assets/images/th.jpg" alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2 class="display-4">About Our Company</h2>
        <p class="lead">We are an online shopping platform that connects customers with vendors.</p>
        <p class="lead">Our mission is to provide a convenient and safe way for people to shop online.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron" id="linear-gradient">
        <h1 class="display-4">Welcome Online Shopping Platform</h1>
        <p class="lead">Find Your Favorite Products</p>
        <hr class="my-4" />
        <p>To get started, log in as</p>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="login">
          Customer
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="login">
          Vendor
        </button>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">All rights reserved</p>
    </div>
  </footer>
</body>

</html>
