<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <div class="header__logo">
              <img src="assets/images/th.jpg" alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="jumbotron" id="linear-gradient">
    <div class="displayTable">
      <div class="displayTableCell">
        <div class="authBlock">
          <h3>Enter the following information to register</h3>
          <div class="mb-3 row">
            <form [formGroup]="form" action="" method="post"
              class="form-control mt-3 p-3 border-3 border-info text-start">
              <div class="mb-3 row">
                <input type="text" class="form-control form-control-sm mx-auto" placeholder="first name"
                  formControlName="firstName" name="firstName" value="">
                <div class="mensaje"
                  *ngIf="form.get('firstName')?.hasError('required') && form.get('firstName')?.touched">
                  <p class="text-danger">Name required</p>
                </div>
              </div>

              <div class="mb-3 row">
                <input type="text" class="form-control form-control-sm mx-auto" placeholder="last name"
                  formControlName="lastName" name="lastName" value="">
                <div class="mensaje"
                  *ngIf="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched">
                  <p class="text-danger">Last name required</p>
                </div>
              </div>

              <div class="mb-3 row">
                <input type="text" class="form-control form-control-sm mx-auto" placeholder="email"
                  formControlName="email" name="email" value="">
                <div class="mensaje" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                  <p class="text-danger">E-mail required</p>
                </div>
                <div class="mensaje" *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                  <p class="text-danger">The e-mail address is invalid</p>
                </div>
                <div class="mensaje" *ngIf="form.get('email')?.hasError('pattern') && form.get('email')?.touched">
                  <p class="text-danger">The e-mail does not follow the required format</p>
                </div>
              </div>

              <div class="mb-3 row">
                <input type="password" class="form-control form-control-sm mx-auto" placeholder="password"
                  formControlName="password" name="password" value="">
                <div class="mensaje" *ngIf="
                      form.get('password')?.hasError('required') &&
                      form.get('password')?.touched
                    ">
                  <p class="text-danger">password required</p>
                </div>
              </div>
              <div class="mb-3 row" *ngIf="form.valid">
                <input type="button" class="btn btn-primary btn-lg btn-block" value="Sign Up" (click)="signup()" />
              </div>
            </form>
          </div>
          <!-- Continue with Google -->
          <div class="mb-3 row">
            <span class="or"><span class="orInner">Already have a Google account?</span></span>
          </div>
          <div class="mb-3 row">
            <button type="button" class="btn btn-success btn-lg btn-block" (click)="auth()">
              <i class="fab fa-google-plus-g"></i>
              Login with Google
            </button>
          </div>
        </div>
        <div class="redirectToLogin">
          <span>Already have an account?
            <button type="button" class="btn btn-primary btn-lg">
              <span class="redirect" routerLink="/login">Login</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">All rights reserved</p>
    </div>
  </footer>

</body>

</html>
