.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(25% - 20px);
  text-align: center;
}

.product-box img {
  width: 100%;
  height: 200px; /* altura deseada de la imagen */
  object-fit: cover;
}

